* {
    font-family: 'Assistant', sans-serif;
}

body {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {


    font-family: 'Raleway', sans-serif;
}
/* header styles */
header {
  display: flex;
  background-image: url('../images/colorBrick.jpg';)
}

.logo {
  flex:2;
}

.logoImage img {
  width:100%;
}

.name {
  flex-grow: 20;
  text-align: center;
}

nav {
  position: relative;
  flext:1
}
  .navButton: {
    text-align: right;
  }

  nav ul.menu {
    margin:0;
    padding: 0;
    list-style: none;
    display: none;
    position:absolute;
    right:0px;
    text-align: right;
  }

  nav:hover ul {
    display: block;
  }
/* End of header styles */

/* Main content style */
main {
  min-height: 200px;
  /*border: 1px solid black;*/
}

.profileImage {
  text-align: center;
}
.profileImage img {
  width:50%;
  border-radius: 50%;
  overflow:hidden;
}
/* end of main content style */

/* Footer Styles */
footer {
  text-align: center;
  background-image: url('../images/wood.jpg');
}

.socialMedia i {
  padding: 0 .5rem;
}
/* End of footer styles*/

@media screen and (min-width:  900px) {

  section {
    display:flex;
  }
    .profileImage {
      flex:2;
      text-align: center;
    }
    .profileImage img {
      width:60%;
    }
    .aboutMe {
      flex:1;
    }

  footer{
    display:flex;
  }
  .copy, .socialMedia, .contact {
    flex:1;
  }
  .copy{
    text-align: right;
  }
  .contact {
    text-align: left;
  }
}
