* {
  font-size: 24px;
}

/* header styles */
header {
  display: flex;
}

.logo {
  flex: 1;
}

.name {
  flex-grow: 8;
  text-align: center;
}

nav {
  position: relative;
  flext:1
}
  .navButton: {
    text-align: right;
  }

  nav ul.menu {
    margin:0;
    padding: 0;
    list-style: none;
    display: none;
    position:absolute;
    right:0px;
    text-align: right;
  }

  nav:hover ul {
    display: block;
  }
/* End of header styles */

/* Main content style */
main {
  min-height: 200px;
  border: 1px solid black;
}

/* end of main content style */

/* Footer Styles */
footer {
  text-align: center;
  background-image: url('../images/wood.jpg');
}
/* End of footer styles*/
